header {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.shop {
  border: dotted 1px black;
  flex-basis: 31%;
  margin-left: 5px;
  margin-right: 5px;
}
